# Archivo de configuración de npm
# Usar el registro por defecto de npm (este es el predeterminado, pero se incluye explícitamente aquí para mayor claridad)
registry=https://registry.npmjs.org/

# Si estás utilizando un entorno de despliegue que necesita autenticación, podrías necesitar configurar credenciales de acceso
# Por ejemplo, para acceder a un registro privado de npm:
# //registry.npmjs.org/:_authToken=YOUR_AUTH_TOKEN

# Para configurar las versiones de Node.js y npm si es necesario:
# engine-strict=true